[Unit]
Description=Service for repo-scripts
After=network.target

[Service]
ExecStart=/usr/bin/repo-daemon
User=repo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
